.comments {
  width: 760px;
  color: #f4cae2;
}
.comments li {
  padding: 0;
  margin: 0;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.footer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 760px;
}

.bt {
  text-align: left;
  color: black;
  font-size: 2vw;
  font-weight: 600;
  text-decoration: none;
  display: block;
  width: 760px;
  transition: all 0.2s ease;
  padding: 10px 0 10px 15px;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid black;
  margin: 20px 0;
}
.bt:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}
